In [1]:
import pandas as pd
pd.set_option('display.max_rows', 100)

In [2]:
df = pd.read_csv('df_messed_dates.csv')

In [3]:
df.head()

,country,iso3,who_region,date,total_confirmed_cases,total_probable_cases,total_deaths,new_confirmed_cases,new_probable_cases,new_deaths,total_cases,daily_new_confirmed_cases
0,Benin,BEN,African Region,2022-06-24,3,0,0,3,0,0,3,NaN
1,Benin,BEN,African Region,2022-07-01,3,0,0,0,0,0,6,-3.0
2,Benin,BEN,African Region,2022-07-08,3,0,0,0,0,0,9,0.0
3,Benin,BEN,African Region,2022-07-15,3,0,0,0,0,0,12,0.0
4,Benin,BEN,African Region,2022-07-22,3,0,0,0,0,0,15,0.0

In [4]:
mappings = list(df.groupby(['country', 'iso3', 'who_region']).groups.keys())
mappings = pd.DataFrame(mappings, columns=['country', 'iso3', 'who_region'])
mappings

                                country iso3                    who_region
0                               Andorra  AND               European Region
1                             Argentina  ARG        Region of the Americas
2                                 Aruba  ABW        Region of the Americas
3                             Australia  AUS        Western Pacific Region
4                               Austria  AUT               European Region
..                                  ...  ...                           ...
108                United Arab Emirates  ARE  Eastern Mediterranean Region
109            United States of America  USA        Region of the Americas
110                             Uruguay  URY        Region of the Americas
111  Venezuela (Bolivarian Republic of)  VEN        Region of the Americas
112                            Viet Nam  VNM        Western Pacific Region

[113 rows x 3 columns]

In [5]:
dates = list(df['date'].unique())
iso3 = list(df['iso3'].unique())

In [6]:
dates.sort()

In [8]:
df.set_index(["date", 'iso3'], inplace=True)

In [9]:
new_index = pd.MultiIndex.from_product(df.index.levels)

In [10]:
new_index

MultiIndex([('2022-01-07', 'ABW'),
            ('2022-01-07', 'AND'),
            ('2022-01-07', 'ARE'),
            ('2022-01-07', 'ARG'),
            ('2022-01-07', 'AUS'),
            ('2022-01-07', 'AUT'),
            ('2022-01-07', 'BEL'),
            ('2022-01-07', 'BEN'),
            ('2022-01-07', 'BGR'),
            ('2022-01-07', 'BHR'),
            ...
            ('2023-07-18', 'SWE'),
            ('2023-07-18', 'THA'),
            ('2023-07-18', 'TTO'),
            ('2023-07-18', 'TUR'),
            ('2023-07-18', 'UKR'),
            ('2023-07-18', 'URY'),
            ('2023-07-18', 'USA'),
            ('2023-07-18', 'VEN'),
            ('2023-07-18', 'VNM'),
            ('2023-07-18', 'ZAF')],
           names=['date', 'iso3'], length=37290)

In [11]:
new_df = df.reindex(new_index)

In [12]:

#new_df = new_df.fillna(0)

In [13]:
new_df.reset_index(inplace=True)

In [18]:
mappings.loc[mappings['iso3']== new_df.loc[new_df['country'].isnull(),['iso3','country']].loc[:,'iso3']]

                                country iso3                    who_region
0                               Andorra  AND               European Region
1                             Argentina  ARG        Region of the Americas
2                                 Aruba  ABW        Region of the Americas
3                             Australia  AUS        Western Pacific Region
4                               Austria  AUT               European Region
..                                  ...  ...                           ...
108                United Arab Emirates  ARE  Eastern Mediterranean Region
109            United States of America  USA        Region of the Americas
110                             Uruguay  URY        Region of the Americas
111  Venezuela (Bolivarian Republic of)  VEN        Region of the Americas
112                            Viet Nam  VNM        Western Pacific Region

[113 rows x 3 columns]

In [17]:
new_df.loc[new_df['country'].isnull(),['iso3','country']].loc[:,'country'] =

      iso3 country
0      ABW     NaN
1      AND     NaN
2      ARE     NaN
3      ARG     NaN
4      AUS     NaN
...    ...     ...
37285  URY     NaN
37286  USA     NaN
37287  VEN     NaN
37288  VNM     NaN
37289  ZAF     NaN

[28246 rows x 2 columns]

In [ ]:
new_df

In [ ]:
new_df.loc[new_df['date']=='2022-01-07'] = new_df.loc[new_df['date']=='2022-01-07'].fillna(0)

In [ ]:
new_df

In [ ]:
new_df.sort_values(by=['date','country'])

In [ ]:
new_df.fillna()

In [ ]:
new_df['country'] = new_df['iso3'].apply(lambda iso: mappings[mappings['iso3'] == iso].iloc[0]['country'])

In [ ]:
new_df['who_region'] = new_df['iso3'].apply(lambda iso: mappings[mappings['iso3'] == iso].iloc[0]['who_region'])

In [ ]:
new_df.head(100)

In [ ]:
new_df.to_csv('filled_data.csv', index=False)